main{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 100px 100px 100px 100px;
}

.casa{
    border: 2px solid white;
    width: 150px;
    height: 150px;
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 150px;
    cursor:cell;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.linha{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    
    
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    align-items: center;
    background-color: black;
    

}
#jogar{
    display: none;
   
}
#placar{
    background-color: rgb(255, 255, 255);
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    margin: 2%;
    
    

    
}
.botao-css{
    display: none;
    border-style: groove;
    border-color: white;
    border: none;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius:  30px 30px 30px 30px;
    padding: 5px;
    margin: 3%;
    cursor: pointer;
    border-style:groove;


}
#titulo{
    border-style:double;
    font-size: 53px;
    font-family:'Courier New', Courier, monospace;
    margin: 3%;
    color: white;
    background-color: rgb(0,
    0, 0);
    padding: 2%;
    border-radius: 100px 0px 100px 0px;

}
#resultado{
    text-align: center;
    border-style:groove;
    border-radius:  30px 30px 30px 30px;
}

.botaofoda {
    text-align: center;
}

#casa01, #casa03, #casa07, #casa09{
    border: none;
}

